.marginTop15 {
  margin-top: 15px;
}

.marginTop5 {
  margin-top: 5px;
}
.panelButton {
  display: inline-block;
  float: right;
}

.paddingTop5 {
  padding-top: 5px;
}

.floatRight {
  float: right !important;
}

.height55 {
  height: 55px;
}

